body {
    color: #1A1A1B;
    font-family: "Raleway";
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 6rem;
    color: #303134;
}

.navigation {
    width: 100%;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: auto;
    width: fit-content;
}

.logo {
    height: 2rem;
}

.container1 {
    background-image: url("./assets/images/container1_background_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90rem;
}

.container_overlay {
    background-image: linear-gradient(rgb(100, 224, 209, 0.7), rgb(8, 174, 234, 0.7));
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    color: white;
    z-index: 2;

}

.container1_price {
    font-size: 21px;
    font-weight: bold;
    line-height: 37px;
    text-align: left;
    color: #006cd1;
}

.container1_price_wrapper {
    background-image: url("./assets/images/layer2.png");
    width: 17.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.container1_title {
    font-size: 4.875rem;
}

.container1_title2 {
    font-size: 1.125rem;
}

.container1_arrow_buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.938rem;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
}

.container2_description {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.container2_description>div {
    width: 15rem;
}

.container2 {
    display: flex;
    padding: 3rem 5.938rem;
}

.container2_cards {
    width: 80%;
}

.container2_description>h5 {
    margin: 0;
}

.container2_description>img {
    width: 2.875rem;
}

.container2_description>h2 {
    margin-bottom: 0.5rem;
    color: #1A1A1B;
}

.color_secondary {
    color: #8D8D8D;
}

#book-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    justify-content: center;
}

#book-list>li {
    list-style: none;
    width: 16.813rem;
}

#book-list>li>img {
    height: 11.313rem;
    width: 16.813rem;
    object-fit: cover;
}

.container3 {
    background-image: url("./assets/images/container3_background_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 36rem;
}

.container3_overlay {
    background: rgba(0, 0, 0, 0.747);
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

.container3_elements {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    color: white;
    z-index: 2;
}

.container4_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6rem;
    box-sizing: border-box;
}

.container4_icons>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container4_icons>div>p {
    font-family: "Lato";
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
}

.container_4cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 0%;
    margin-bottom: 50px;
}

.container_4_card {
    box-shadow: 0 0 6px 0px rgb(205, 203, 203);
}

.container_4_card>img {
    height: 262px;
    width: 270px;
    object-fit: cover;
}

.yellow_tag {
    background-color: #FED701;
    width: fit-content;
    padding: 8px;
    position: absolute;
    margin: 10px;
}

.yellow_tag>p {
    margin: 0;
    z-index: 2;
}

.container_4_card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purple_txt {
    color: #4B54FA;
}

.container5 {
    background: url("./assets/images/container_5img.png");
    background-size: cover;
    height: 350px;
    color: white;
    background-repeat: no-repeat;
    position: relative;
}

.custom_input {
    width: 395px;
    height: 50px;
    outline: white auto 1px;
    background: transparent;
    border-radius: 25px;
    padding-left: 30px;
}

.custom_input::placeholder {
    color: white;
    font-size: large;
}

.custom_input:focus-visible {
    outline: white auto 1px;
}

.custom_button {
    width: 155px;
    height: 50px;
    background-color: white;
    color: #08AEEA;
    border: 1px solid white;
    border-radius: 25px;
}

.container5_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_header {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container_header>h5 {
    margin-bottom: 0;
}

.container5_cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.container5_card>h3{
    color: #4B54FA;
}
.container5_card{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 368px;
    height: 450px;
    padding: 54px;
}
.contaier5_ready {
    background: url("./assets/images/container5_nature.png");
    background-size: 100%;
    height: 505px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contaier5_ready_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 50px;
}
.custom_button_cyan {
    margin-top: 20px;
    width: 155px;
    height: 50px;
    background-image: linear-gradient(rgb(100, 224, 209, 0.7), rgb(8, 174, 234, 0.7));
    color: white;
    border: none;
    border-radius: 25px;
}
.container6_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.container6_card{
    width: 271px;
    height: 425px;
    box-sizing: border-box;
    position: relative;
    color: white;
    font-family: "Montserrat";
}

.container6_card>img{
    width: 271px;
    height: 425px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.arr_right_btn{
    height: 40px;
    width: 40px;
}
.item_bottom{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

.item_right_bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.overlay_blur {
    background-image: linear-gradient(rgb(250 250 250 / 58%),rgb(0 0 0 / 70%));
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
}

footer{
    background-color: #141418;
    color:white;
}


  .contact{
    display: flex;
    align-items: center;
    padding: 54px 94px;
  }

  .custom_send_msg{
    display: flex;
    align-items: center;
  }

  .custom_send_msg>input{
    width:343px;
    height: 48px;
    border: none;
    outline: none;
  }

  .square_btn{
    width: 50px;
    height: 50px;
    border-radius: 1px;
    margin-top: 0;
    cursor: pointer;
  }

  .rights{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mapouter{
    margin-top: 70px;
  }