body {
    color: #1A1A1B;
    font-family: "Raleway";
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 6rem;
    color: #303134;
}

.navigation {
    width: 100%;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-left: auto;
    width: fit-content;
}

.logo {
    height: 2rem;
}

.container1 {
    background-image: url("./assets/images/container1_background_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90rem;
}

.container_overlay {
    background-image: linear-gradient(rgb(100, 224, 209, 0.7), rgb(8, 174, 234, 0.7));
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    color: white;
    z-index: 2;

}

.container1_price {
    font-size: 1.313rem;
    font-weight: bold;
    line-height: 2.313rem;
    text-align: left;
    color: #006cd1;
}

.container1_price_wrapper {
    background-image: url("./assets/images/layer2.png");
    width: 17.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.container1_title {
    font-size: 4.875rem;
}

.container1_title2 {
    font-size: 1.125rem;
}

.container1_arrow_buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.938rem;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
}

.container1_arrow_buttons>button{
    cursor: pointer;
}

.container2_description {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.container2_description>div {
    width: 15rem;
}

.container2 {
    display: flex;
    padding: 3rem 5.938rem;
}

.container2_cards {
    width: 80%;
}

.container2_description>h5 {
    margin: 0;
}

.container2_description>img {
    width: 2.875rem;
}

.container2_description>h2 {
    margin-bottom: 0.5rem;
    color: #1A1A1B;
}

.color_secondary {
    color: #8D8D8D;
}

#book-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    justify-content: center;
}

#book-list>li {
    list-style: none;
    width: 16.813rem;
}

#book-list>li>img {
    height: 11.313rem;
    width: 16.813rem;
    object-fit: cover;
}

.container3 {
    background-image: url("./assets/images/container3_background_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 36rem;
}

.container3_overlay {
    background: rgba(0, 0, 0, 0.747);
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

.container3_elements {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    color: white;
    z-index: 2;
}

.container4_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6rem;
    box-sizing: border-box;
}

.container4_icons>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container4_icons>div>p {
    font-family: "Lato";
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
}

.container_4cards {
    display: flex;
    gap: 1.875rem;
    justify-content: center;
    margin-bottom: 0%;
    margin-bottom: 3.125rem;
}

.container_4_card {
    box-shadow: 0 0 0.375rem 0rem rgb(205, 203, 203);
}

.container_4_card>img {
    height: 16.375rem;
    width: 16.875rem;
    object-fit: cover;
}

.yellow_tag {
    background-color: #FED701;
    width: fit-content;
    padding: 0.5rem;
    position: absolute;
    margin: 0.625rem;
}

.yellow_tag>p {
    margin: 0;
    z-index: 2;
}

.container_4_card_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purple_txt {
    color: #4B54FA;
}

.container5 {
    background: url("./assets/images/container_5img.png");
    background-size: cover;
    height: 21.875rem;
    color: white;
    background-repeat: no-repeat;
    position: relative;
}

.custom_input {
    width: 24.688rem;
    height: 3.125rem;
    outline: white auto 0.063rem;
    background: transparent;
    border-radius: 1.563rem;
    padding-left: 1.875rem;
}

.custom_input::placeholder {
    color: white;
    font-size: large;
}

.custom_input:focus-visible {
    outline: white auto 0.063rem;
}

.custom_button {
    width: 9.688rem;
    height: 3.125rem;
    background-color: white;
    color: #08AEEA;
    border: 0.063rem solid white;
    border-radius: 1.563rem;
}

.container5_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_header {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.125rem;
}

.container_header>h5 {
    margin-bottom: 0;
}

.container5_cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
    width: 100%;
}
.container5_card>h3{
    color: #4B54FA;
}
.container5_card{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 23rem;
    height: 28.125rem;
    padding: 3.375rem;
}
.contaier5_ready {
    background: url("./assets/images/container5_nature.png");
    background-size: 100%;
    height: 31.563rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contaier5_ready_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 3.125rem;
}
.custom_button_cyan {
    margin-top: 1.25rem;
    width: 9.688rem;
    height: 3.125rem;
    background-image: linear-gradient(rgb(100, 224, 209, 0.7), rgb(8, 174, 234, 0.7));
    color: white;
    border: none;
    border-radius: 1.563rem;
}
.container6_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
}
.container6_card{
    width: 16.938rem;
    height: 26.563rem;
    box-sizing: border-box;
    position: relative;
    color: white;
    font-family: "Montserrat";
}

.container6_card>img{
    width: 16.938rem;
    height: 26.563rem;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.arr_right_btn{
    height: 2.5rem;
    width: 2.5rem;
}
.item_bottom{
    position: absolute;
    bottom: 0;
    margin-left: 0.625rem;
}

.item_right_bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
}

.overlay_blur {
    background-image: linear-gradient(rgb(250 250 250 / 58%),rgb(0 0 0 / 70%));
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 0.5rem;
}

footer{
    background-color: #141418;
    color:white;
}


  .contact{
    display: flex;
    align-items: center;
    padding: 3.375rem 5.875rem;
  }

  .custom_send_msg{
    display: flex;
    align-items: center;
  }

  .custom_send_msg>input{
    width: 21.438rem;
    height: 3rem;
    border: none;
    outline: none;
  }

  .square_btn{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.063rem;
    margin-top: 0;
    cursor: pointer;
  }

  .rights{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mapouter{
    margin-top: 4.375rem;
  }



  @media screen and (max-width: 1350px) {
    #book-list {
        grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width: 1200px) {
    .container5_cards {
        flex-direction: column;
    }
    .container6_cards{
        display: grid;
        grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width: 1100px){
    #book-list {
        grid-template-columns: auto;
    }

    .contact{
        flex-direction: column;
        align-items: flex-start;
    }
  }

  @media screen and (max-width: 900px){
    .container_4cards{
        flex-direction: column;
        align-items: center;
    }
    .container_4card{
        width:fit-content;
    }

    .container2_description{
        width: 15rem;
    }

    .container1_title, .container1_title2{
        font-size: medium;
    }
    .container3_elements>iframe{
        width: 400px;
    }
  }

  @media screen and (max-width: 650px){

    .container2{
        flex-direction: column;
    }

    .container6_cards{
        grid-template-columns:auto;
    }
    .container4_icons{
        flex-direction: column;
    }

    .container2{
        padding: 0;
        align-items: center;
    }
  }
  @media screen and (max-width: 500px){
    .custom_send_msg>input{
        width: 250px;
    }

    .contact{
        padding: 0;
    }
    .navbar>img{
        display: none;
    }
    .navigation{
        flex-direction: column;
        padding: 0;
    }
    .container1_price_wrapper {
        width: 10rem;
    }
    .container1_price_wrapper>h3{
        font-size: 0.8rem;
    }
    .container1_arrow_buttons{
        padding: 0;
    }
    .container3_elements>iframe{
        width: 300px;
    }
    .container5_elements>div{
        display: flex;
        flex-direction: column;
    }
    .custom_input{
        width:200px;
        padding: 0;
    }
    table{
        word-wrap: break-word;    
        font-size: 0.8rem;
    }
    th{
        padding: 0;
    }
    .container5_card{
        width: 20rem;
    }
  }